<section class="lp-section lp-sectors lp-sectorsDetailCards" id="commercial-sector-cards" aria-label="تفاصيل القطاع التجاري">
  <div class="lp-sectors__inner">

    <div class="lp-sectors__sliderWrap" aria-label="بطاقات القطاع التجاري">
      <div class="lp-sectors__slider">
        <div class="lp-sectors__track lp-sectors__track--five">

          <article class="lp-sectorCard" aria-label="قطاع السيارات">
            <img src="../../../../assets/images/sectors/sector-details/commercial/7.jpeg" alt="قطاع السيارات">
            <a class="lp-iconBtn lp-sectorCard__btn" href="../../../contact/index.html" aria-label="تواصل بخصوص قطاع السيارات">
              <span class="lp-iconBtn__stroke" aria-hidden="true"></span>
              <span class="lp-iconBtn__layer" aria-hidden="true">
                <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
              </span>
            </a>
            <div class="lp-sectorCard__name">قطاع السيارات</div>
          </article>

          <article class="lp-sectorCard" aria-label="قطاع الاتصالات">
            <img src="../../../../assets/images/sectors/sector-details/commercial/3.png" alt="قطاع الاتصالات">
            <a class="lp-iconBtn lp-sectorCard__btn" href="../../sector-pages/communications/index.html" aria-label="تواصل بخصوص قطاع الاتصالات">
              <span class="lp-iconBtn__stroke" aria-hidden="true"></span>
              <span class="lp-iconBtn__layer" aria-hidden="true">
                <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
              </span>
            </a>
            <div class="lp-sectorCard__name">قطاع الاتصالات</div>
          </article>

          <article class="lp-sectorCard" aria-label="قطاع الدعاية">
            <img src="../../../../assets/images/sectors/sector-details/commercial/2.png" alt="قطاع الدعاية">
            <a class="lp-iconBtn lp-sectorCard__btn" href="../../sector-pages/advertising/index.html" aria-label="تواصل بخصوص قطاع الدعاية">
              <span class="lp-iconBtn__stroke" aria-hidden="true"></span>
              <span class="lp-iconBtn__layer" aria-hidden="true">
                <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
              </span>
            </a>
            <div class="lp-sectorCard__name">قطاع الدعاية</div>
          </article>

          <article class="lp-sectorCard" aria-label="قطاع الدهانات">
            <img src="../../../../assets/images/sectors/sector-details/commercial/1.png" alt="قطاع الدهانات">
            <a class="lp-iconBtn lp-sectorCard__btn" href="../../../contact/index.html" aria-label="تواصل بخصوص قطاع الدهانات">
              <span class="lp-iconBtn__stroke" aria-hidden="true"></span>
              <span class="lp-iconBtn__layer" aria-hidden="true">
                <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
              </span>
            </a>
            <div class="lp-sectorCard__name">قطاع الدهانات</div>
          </article>

          <article class="lp-sectorCard" aria-label="قطاع التدريب المهني">
            <img src="../../../../assets/images/sectors/sector-details/commercial/8.jpeg" alt="قطاع التدريب المهني">
            <a class="lp-iconBtn lp-sectorCard__btn" href="../../../contact/index.html" aria-label="تواصل بخصوص قطاع التدريب المهني">
              <span class="lp-iconBtn__stroke" aria-hidden="true"></span>
              <span class="lp-iconBtn__layer" aria-hidden="true">
                <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
              </span>
            </a>
            <div class="lp-sectorCard__name">قطاع التدريب المهني</div>
          </article>

        </div>
      </div>
    </div>

  </div>
</section>