<section class="lp-section lp-medicalS1" id="medical" aria-label="القطاع الطبي">
  <div class="lp-medicalS1__inner">

    <header class="lp-medicalS1__head">
      <h1 class="lp-sectors__title lp-medicalS1__title">
        القطاع <span class="lp-sectors__titleAccent">الطبي</span>
      </h1>

      <div class="lp-medicalS1__subTitle">
        عن القطاع
      </div>
    </header>

    <p class="lp-medicalS1__text">
      تقوم شركة الشرق للتجارة والتوكيلات منذ تأسيسها في منتصف 1991بدورا هاما في المساهمة في تحسين صحة وحياة عملائها عن طريق توفير منتجات فعالة وعالية الجودة من شركات عالمية رائدة وموثوقة والوصول الى أكبر عدد من العملاء والمستهلكين بامتداد الجمهورية اليمنية من خلال شبكة توزيع واسعة وفريق عمل محترف كما تعمل على تنويع قطاعات الاعمال للوصول الى إرضاء العملاء وتسهيل حياتهم اليومية باستمرار:
      <br><br>
      • الأدوية<br>
      • فيتامينات ومكملات غذائية<br>
      • المستلزمات الطبية
    </p>

  </div>
</section>